{{ ansible_managed | comment }}
BACKUP_S3_ENDPOINT={{ backup_s3_endpoint }}
BACKUP_S3_BUCKET={{ backup_s3_bucket }}
BACKUP_S3_REGION={{ backup_s3_region }}
BACKUP_S3_KEY={{ backup_s3_key }}
BACKUP_S3_SECRET={{ backup_s3_secret }}
